
/* choose  type */
.choice {
  border: 1px solid darkorange;
  font-size:16px;
  padding:8px;
  width:300px;
  text-align-last: center;
  background:black;
  color:darkorange;
  margin-bottom: 35px;
}
@import url('https://fonts.googleapis.com/css?family=Abel');




.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardtour {
  float: left;
  width: 600px;
  height: 340px;
  box-shadow: 0 10px 30px -10px darkorange;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.cardhike{
  float: left;
  width: 600px;
  height: 340px;
  box-shadow: 0 10px 20px -10px  #25e8de;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.cardtour h1,.cardhike h1 {
  text-align: center;
}

.additional {
  position: absolute;
  width: 160px;
  height: 100%;
  background: darkorange;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.cardhike .additional {
  position: absolute;
  width: 160px;
  height: 100%;
  background:green;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}


.cardtour:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.cardhike:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
 .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  max-width:100%;

}

.user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}


.points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.points {
  margin-top:10px;
  top: 85%;
}
h4 a {
  color:black;
}
h4 a:hover{
  color:white;
}
.more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.more-info h1 {
  color: #224C36;
}

 .coords {
  color: #fff;
  font-size: 1rem;
}

.card-tour,.card-hike .green .additional .coords {
  color: #325C46;
}
.coords span{
  margin-left:30px;
}


.cardtour,.cardhike .additional .coords span + span {
  float: right;
}

.stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}



.stats > div {
  flex: 1;
  text-align: center;
}

.stats i {
  display: block;
}

div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

 div.value {
   margin-top:10px;
   color:black;
  font-size: 1.5rem;
  font-weight:lighter;
  line-height: 1.5rem;
}


.general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.post-text{
  border-radius:15px;
  background-color:green;
  color:white;
  padding:8px;
}
.cardhike .post-text{
  border-radius:15px;
  background-color:#25e8de;
  color:black;
  padding:8px;
}
.stat {
margin-left:40px;
color:white;
margin-bottom:3px;
}

.cardhike,.cardtour{
   min-height: 600px;
   display: ;
 }

 @media screen and (max-width: 768px) {
  .cardhike,.cardtour {
    display:flex;
    flex-wrap: wrap;
    z-index:1;
  }
